html{
    background: url(../images/background/background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Roboto, sans-serif, Arial;
    color: aliceblue;
}

#principal{
    text-align: center;
    width: 50%;
	height: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.principal-divs{
    border-radius: 10px;
    border: 2px solid #F2F2F2;
}

#separator-about{
    height: 2px;
}

#about-me{
    font-size: 18px;
}

#separator-social{
    height: 20px;
}

img{
    width: 40px;
    height: auto;
}

#cc{
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    color: darkgray;
    
}

a:active, a:link, a:visited{
    color: darkgray;
}
